/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.OK
{
   background-color: green;
   color:green;
   width:85%;
   height:85%;
   border-radius: 50%;
}

.ServiceUnavailable {
  background-color: red;
  color:red;
  width:85%;
  height:85%;
  border-radius: 50%;
}

.0 {
  background-color: red;
  color:red;
  width:85%;
  height:85%;
  border-radius: 50%;
}


